-- 为知识分类表添加图标字段
USE jiayan_quitsmoking;

-- 添加图标字段
ALTER TABLE knowledge_categories 
ADD COLUMN icon_name VARCHAR(100) COMMENT '图标文件名（存储在 /uploads/category-icons/ 目录）';

-- 添加索引优化查询
CREATE INDEX idx_icon_name ON knowledge_categories(icon_name);

-- 为现有分类设置默认图标（如果存在的话）
UPDATE knowledge_categories SET icon_name = 'category-grid.png' WHERE name = '知识分类';
UPDATE knowledge_categories SET icon_name = 'category-airplane.png' WHERE name = '戒烟方法';
UPDATE knowledge_categories SET icon_name = 'category-heart.png' WHERE name = '戒烟好处';
UPDATE knowledge_categories SET icon_name = 'category-lightbulb.png' WHERE name = '戒烟技巧';

-- 显示表结构确认
DESCRIBE knowledge_categories;
